.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.link {
	font-size: large;
	font-weight: bold;
	margin-right: 20px;
	color: white;
}

.link:hover {
	border-bottom: 2px solid white;
}

.active {
	font-size: large;
	font-weight: bold;
	margin-right: 20px;
	color: rgb(214, 65, 222);
	border-bottom: 2px solid rgb(214, 65, 222);
}
